<%= form_for @food do |f| %>
    <p>
        <%= f.label :name %></br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :description %> </br>
        <%= f.text_area :description %>
    </p>
    
    <p>
        <%= f.label :image %></br>
        <%= f.url_field :image %>
    </p>

    <%= f.submit 'Create Food', :class => 'btn btn-success btn-lg' %>
<% end %>